.header {
    width: 100%;
    display: flex;
    padding: 3rem 2rem 3rem 2rem;
    justify-content: space-around;
    height: 50px;
    border-bottom: 1px solid #DBDBDB;
    align-items: center;
}

.logo_img {
    width: 100px;
}

.logo_img img {
    width: 100%;
}

.text_box input {
    width: 216px;
    height: 30px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: .3rem;
    text-align: center;
}

.text_box input::-webkit-input-placeholder {
    color: #65737e;
 }
  
 .text_box input:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  
 .text_box input::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  
 .text_box input::-ms-input-placeholder {  
    color: #65737e;  
 }

.header .category {
    display: flex;
    align-items: center;
}

.category .header_icon {
    margin-right: 2rem;
    font-size: 2.3rem;
    color: #454545;
}

.category .myprofile_img {
    width: 25px;
    height: 25px;
    border: .2rem solid #454545;
    background-color: white;
}

.header_img {
    border-radius: 5rem;
    width: 70%;
    top: .2em;
    left: .2em;
    right: .2em;
    bottom: .2em;
}