@import "reset.css";
@import "login.css";

* {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-size: 10px;
}

.login_page {
    margin: 30px auto;
}

.my_border {
    border: 1px solid #DBDBDB;
}

